* {
  box-sizing: border-box;
}

@font-face {
  src: url(pokemonfont.ttf);
  font-family: pokefont;
}

body {
text-align: center;
margin: 0 auto;
background: linear-gradient(#FFCB05, #3D7DCA, #003A70);
font-family: pokefont, sans-serif;
}

.btn-list {
  background-color: #3D7DCA;
  font-size: 38px;
  color: white;
  width: 400px;
  height: 100px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: white solid 2px;
  padding-bottom: 5px;
}

.btn-list:hover {
  transform: scale(1.3);
  font-size: 49.4px;
  padding-bottom: 8px;
}

.navbar {
  margin-bottom: 30px;
}

.navbar-brand {
  font-size: 24px;
}
